#todoprincipal{
    width: 40%;
    background-color: rgb(255, 255, 255, 0.85);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: -90px auto 0;

}

.Todotext {
    width: 800%;
    display: flex;
    column-gap: 10px; 
    padding: 30px 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('../Imagens/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
  

h1{
    margin-bottom: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    color: white;
    display: flex;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
}


.newtask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.8px solid rgb(85, 85, 85);
    background-color: rgb(235, 235, 235);
    width: 100%;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    box-sizing: border-box; 
    margin-bottom: 5px;
}

.buttonremove {
    background-color: #b90303;
    padding: 5px;
    padding-top: 2px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

#check {
    float: left;
    cursor: pointer;
    margin-top: 6px;
}

.newtask span {
    display: inline-block;
    width: 85%;
}

#taskcontent {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

#remove {
    filter: grayscale(100%) brightness(0) invert(100%);
}
